* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3d3f46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 4%;
}

/* LOGO */
.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 110px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/* TAG */
.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    transition: all 0.1s;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links li a {
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ff9000;
}

/* SSO */
.header .nav-sso {
    list-style: none;
}

.header .nav-sso li {
    display: inline-block;
    padding: 0 7px;
    transition: all 0.1s;
}

.header .nav-sso li:hover {
    transform: scale(1.1);
}

.header .nav-sso li a {
    color: white;
    text-decoration: none;
}

.header .nav-sso li a:hover {
    color: #ff9000;
}