@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --clr-header: #636363;
    --clr-wrapper: rgba(34, 32, 32, 0.61);
    --clr-main: #ffffff;
    --clr-footer: #0d6b6e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0000003b;
}