* {
    padding: 0;
    margin: 0;
}

.container {
    width: auto;
    display: block;
}

.wrapper {
    padding: 10px;
    background-color: #000;
    margin: 5px auto;
    width: 650px;
    height: 104px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.nav li a {
    background-color: #000000c7;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.tag {
    margin: 5px 10px;
}

.nav li a:hover {
    background-color: #ff9000;
}

.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.palabra-clave input {
    width: 184px;
    height: 40px;
    border: none;
    padding-left: 5px;
    margin-top: 5px;
}

.buscar button {
    cursor: pointer;
    padding: 0;
    border: none;
    width: 140px;
    height: 40px;
    margin-top: 5px;
    background-color: #000;
    color: #ff9000;
}

.top {
    margin: 6px 0 0 0;
}

.buscar button:hover {
    background-color: #ff9000;
    color: #000;
}

.titulo {
    margin: 20px 0 4px 613px;
}

@media(max-width: 991px) {
    .titulo {
        margin: 20px 0 0 130px;
    }
}